<div class="list-group">
    <% list.forEach(function(article){ %>
        <a href="/api/article/<%= article.id %>" class="list-group-item">
            <h4 class="list-group-item-heading"><%= article.title %></h4>
            <p class="list-group-item-text"><%= article.content %></p>
        </a>
    <% }) %>
</div>